

:root {
	--main-color: rgb(15, 255, 163);
	--second-color: rgb(255, 15, 107);
	--third-color: rgb(255, 43, 15);
}

* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #000;
	text-align: center;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

body::-webkit-scrollbar-thumb {
	display: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
	display: block;
	background-color: #00000060;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-corner {
	background-color: transparent;
}

.root {
	width: 100%;
}

.main__section--first {
	position: relative;
	display: flex;
	width: 100%;
	min-height: calc(100vh - 50px);
}

.main__section--second {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 100%;
	min-height: 100vh;
}