
.section__aside--right {
	width: 20%;
}


.aside__info--total-deaths{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 38px;
   left: 5%;
   width: 90%;
   border: 1px;
   border-radius: 10px;
   background-color: #028090;
}

.aside__info--total-deaths span.info--title{
	padding-top: 10px;
	font-size: 28px;
	color: #fff;
	font-weight: bolder;
}

.aside__info--total-deaths span.info--quantity{
	padding-bottom: 10px;
	font-size: 26px;
	color: #fff;
}

.aside__menu--department-deaths{
   position: relative;
	width: 100%;
	height: calc((100vh - 50px)/2 - 100px);
	border: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

.aside__menu--department-deaths span{
	display: block;
	padding: 7px 15px;
	background-color: #fff;
	font-size: 17px;
	text-align: start;
	cursor: pointer;
	border-top: 1px solid;
}

.aside__menu--department-deaths span:hover{
	background-color: rgba(252, 249, 249, 0.719); 	
	text-decoration: none;
}

.aside__menu--department-deaths span.active{
	background-color: #000a;
}

.aside__info--total-recovers{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 50px;
   left: 5%;
   width: 90%;
   border: 1px;
   border-radius: 10px;
   background-color: #028090;
}

.aside__info--total-recovers span.info--title{
	padding-top: 10px;
	font-size: 28px;
	color: #fff;
	font-weight: bolder;
}

.aside__info--total-recovers span.info--quantity{
	padding-bottom: 10px;
	font-size: 26px;
	color: #fff;
}

.aside__menu--department-recovers{
   position: relative;
	width: 100%;
	height: calc((100vh - 50px)/2 - 100px);
	border: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow-y: scroll;
}

.aside__menu--department-recovers span{
	display: block;
	padding: 7px 15px;
	background-color: #fff;
	font-size: 17px;
	text-align: start;
	cursor: pointer;
	border-top: 1px solid;
}

.aside__menu--department-recovers span:hover{
	background-color: rgba(252, 249, 249, 0.719);
	text-decoration: none;
}

.aside__menu--department-recovers span.active{
	background-color: #091a;
}